/*!
 * Copyright 2002 - 2015 Webdetails, a Pentaho company.  All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to  http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or  implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */

.jqueryFileTree LI.directory { background: url(../images/directory.png) left top no-repeat; }
.jqueryFileTree LI.expanded { background: url(../images/folder_open.png) left top no-repeat; }
.jqueryFileTree LI.file { background: url(../images/file.png) left top no-repeat; }
.jqueryFileTree LI.ext_xcdf { background: url(../images/xcdf.png) left top no-repeat; }
.jqueryFileTree LI.ext_cda { background: url(../images/cda.png) left top no-repeat; }
.jqueryFileTree LI.ext_cdfde { background: url(../images/cdfde.png) left top no-repeat; }
