<?xml version="1.0" encoding="UTF-8"?>
<settings>
  
  <blacklist>

    <!-- the following are file extensions that should be safeguarded from any editing -->
    <files>

      <extension>prpt</extension>
      <extension>png</extension>
      <extension>jpg</extension>
      <extension>jpeg</extension>
      <extension>svg</extension>
      <extension>zip</extension>
      <extension>rar</extension>
      <extension>jar</extension>

   </files>

    <!-- the following are folders that should be safeguarded from any editing -->
    <folders>

       <path>/etc</path>

    </folders>

  </blacklist>


  <sparkl-apps-blacklist>
    <!-- the following are file extensions that should be safeguarded from any editing in sparkl apps -->
    <!-- these are *added* to the standard blacklisted file extensions -->
    <files>

      <extension>xml</extension>
      <extension>bak</extension>
      <extension>disabled</extension>

   </files>

    <!-- the following are folders that should be safeguarded from any editing in sparkl apps -->
    <!-- these are *added* to the standard blacklisted folders -->
    <folders>

       <path>/endpoints</path>
       <path>/lib</path>
       <path>/stub</path>
       <path>/dist</path>
       <path>/build-res</path>
       <path>/runtime-lib</path>

    </folders>

  </sparkl-apps-blacklist>


</settings>
