<?xml version="1.0" encoding="UTF-8"?>
<settings>
  
  <blacklist>

    <!-- the following are file extensions that should be safeguarded from any editing -->
    <files>

      <extension>prpt</extension>
      <extension>png</extension>
      <extension>jpg</extension>
      <extension>jpeg</extension>
      <extension>svg</extension>
      <extension>zip</extension>
      <extension>rar</extension>
      <extension>jar</extension>

   </files>

    <!-- the following are folders that should be safeguarded from any editing -->
    <folders>

       <path>/etc</path>

    </folders>

  </blacklist>

</settings>
