.jqueryFileTree LI.ext_xcdf { background: url(../images/filetree/xcdf.png) left top no-repeat; }
.jqueryFileTree LI.ext_cda { background: url(../images/filetree/cda.png) left top no-repeat; }
.jqueryFileTree LI.ext_cdfde { background: url(../images/filetree/cdfde.png) left top no-repeat; }