/* Modal Base CSS */

.ml-overlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;

	opacity: 0;

	width: 100%;
	height: 100%;

	-webkit-transition: 1ms opacity ease;
	   -moz-transition: 1ms opacity ease;
	    -ms-transition: 1ms opacity ease;
	     -o-transition: 1ms opacity ease;
	        transition: 1ms opacity ease;

	background: rgba(255,255,255,.8);
}

.ml-modal {
	position: absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;

	opacity: 0;
	
	width: 94%;
	/*padding: 24px 20px;*/

	-webkit-transition: 1s opacity ease;
	   -moz-transition: 1s opacity ease;
	    -ms-transition: 1s opacity ease;
	     -o-transition: 1s opacity ease;
	        transition: 1s opacity ease;

	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	        
    border: 1px solid #DADADA;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
	background: #FFFFFF;
}

.ml-modal.ml-open.ml-anchored {
	top: 20px;

	-webkit-transform: translate(-50%, 0);
	   -moz-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	     -o-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}

.ml-modal.ml-open,
.ml-overlay.ml-open {
	opacity: 1;
}

/* Close Button */
.ml-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: url('../../img/close.png') center center no-repeat;
    background-position: -11px -12px;
    width: 21px;
    height: 20px;
    border: none;
}

.ml-close:hover{
    background-position: -11px -49px;
}

.svg .ml-close{
    background: url('../../img/close.svg') no-repeat;
    background-position: -11px -9px;
}

.svg .ml-close:hover{
    background: url('../../img/close.svg') no-repeat;
    background-position: -11px -49px;
}

/* Default Animation */
.ml-overlay.fade-and-drop {
	display: block;
	opacity: 0;
	
    -webkit-transition: .5s opacity ease;
    -moz-transition: .5s opacity ease;
    -ms-transition: .5s opacity ease;
    -o-transition: .5s opacity ease;
    transition: .5s opacity ease;
}

.ml-overlay.fade-and-drop.ml-open {
	top: 0;

	-webkit-transition: 1s opacity ease;
	   -moz-transition: 1s opacity ease;
	    -ms-transition: 1s opacity ease;
	     -o-transition: 1s opacity ease;
	        transition: 1s opacity ease;

	opacity: 1;
}

.ml-modal.fade-and-drop {
	top: -50%;
	
	display: block;
	opacity: 0;
    -webkit-transition: 1s top ease, .5s opacity ease;
    -moz-transition: 1s top ease, .5s opacity ease;
    -ms-transition: 1s top ease, .5s opacity ease;
    -o-transition: 1s top ease, .5s opacity ease;
    transition: 1s top ease, .5s opacity ease;
}

.ml-modal.fade-and-drop.ml-open {
	top: 50%;	
    opacity: 1;
	-webkit-transition: 1s top ease, .5s opacity ease;
	   -moz-transition: 1s top ease, .5s opacity ease;
	    -ms-transition: 1s top ease, .5s opacity ease;
	     -o-transition: 1s top ease, .5s opacity ease;
	        transition: 1s top ease, .5s opacity ease;
}

.ml-modal.fade-and-drop.ml-open.ml-anchored {
	-webkit-transition: .5s top .5s ease;
	   -moz-transition: .5s top .5s ease;
	    -ms-transition: .5s top .5s ease;
	     -o-transition: .5s top .5s ease;
	        transition: .5s top .5s ease;
}


.ml-modal .ml-content table th{
    border-bottom: 1px solid #DDDDDD;
}

.ml-modal {
    font-size: 15px;
}

.ml-content, .ml-confirm-dialog{
    padding: 20px;
}

.ml-content{
    padding-bottom: 0;
}

.ml-header{
    width: 100%;
    height: 32px;
    background-color: #F8F8F8;
}

.ml-dialog-btn.btn{
    color: #FFF;
}

button.ml-dialog-btn.ok.btn {
  padding: 5px 25px;
  margin-right: 10px;
}

button.ml-dialog-btn.save {
  padding: 5px 33px;
}

button.ml-dialog-btn.cancel.btn {
  padding: 5px 28px;
  margin-right: 10px;
}

button.ml-dialog-btn.no-save {
  padding: 5px 15px;
  margin-right: 10px;
}

.ml-confirm-dialog{
    text-align: center;    
}

.ml-confirm-dialog button.ml-dialog-btn{
    margin-top: 0px;
}

.ml-header .ml-header-icon{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ml-header-icon{
  display: block;
  float: left;
  margin-top: 3px;
  margin-left: 1px;    
}

.ml-content div:not(.popup-keys-table){
    padding-bottom: 20px;
}
