/*!
 * Copyright 2002 - 2015 Webdetails, a Pentaho company.  All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to  http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or  implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:  local('Open Sans Light'),
        local('OpenSans-Light'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-light.svg#OpenSansLight') format('svg')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  local('Open Sans'),
        local('OpenSans'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-regular.svg#OpenSansRegular') format('svg')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:  local('Open Sans'),
        local('OpenSans'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.eot') format('embedded-opentype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.woff') format('woff'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.ttf') format('truetype'),
        url('../../../../common-ui/resources/themes/crystal/opensans-bold.svg#OpenSansRegular') format('svg')
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: -webkit-linear-gradient(#E8EEF3, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E8EEF3, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E8EEF3, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to #E8EEF3, #FFF); /* Standard syntax */
    font-size: 13px;
    padding: 5px;
    background-repeat: repeat-x;
    padding-bottom: 0px;
}

td{
    vertical-align: middle;
}

.bold { font-weight: 600;}

body pre {
    border-radius: 0px;
    min-width: 500px !important;
}

:focus {
    outline:none !important;
}

::-moz-focus-inner{
    border: 0;
}


.btn-success{
    border: none !important;    
}

ul.jqueryFileTree a{
    color: #000000 !important;
}

ul.jqueryFileTree a:hover{
    color: #FFFFFF !important;
}

.selected {
  font-size: 13px;
  font-weight: bold;
}

.btnArea .saveBtn.disabled{
    color: #FFFFFF;
    opacity: 0.2 !important;
    transition: opacity 0.2s;
    border:none;
}

.btnArea{
    float: right;
}

.saveBtn, .btn-success:hover, .btn-success:focus,
.ml-dialog-btn {
  background: #005CA7;
  font-weight: 400;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: none;
  border: 1px solid none;
  text-align: left;
  position: relative;
  color: #FFF;
  padding: 5px 52px;
  font-size: 14px;
  -webkit-transition: all 0;
  transition: all 0;
  margin-top: 0;
  outline: 0 none !important;
  margin-top: -40px;
}

.saveBtn:hover, .ml-dialog-btn:hover{
    background: #0072CE;
    -webkit-box-shadow: 0px 3px 5px 0px #0066b9 inset;
    box-shadow: 0px 3px 5px 0px #0066b9 inset;
    margin-top: -40px;
    color: #FFF;
}

.saveBtn:active, .ml-dialog-btn:active{
    margin-top: -40px;
    box-shadow: 0px 3px 5px 0px #004985 inset;
    background: #005CA7;
}

.panel-group{
    width: 250px !important;
}

.panel.panel-default .panel-heading{
    font-size: 16px;
    font-weight: 300;
    color: #749db1;
    background: #FFF;
    cursor: pointer;
}

.panel.panel-default > .panel-heading:hover{
  color: #749db1;  
}

.panel.panel-default > .panel-heading.active{
    border-top: solid 4px #f2ce17;
}

.panel.panel-default .panel-heading{
    padding: 0px;
}

.panel-title a, .panel-title a:not(.collapsed) {
    padding: 10px 10px 10px 25px;
    display: block;
    font-weight: 600;
    background-image: none;
}

.panel-title a:not(.collapsed):before{
    content: '';
    width: 13px;
    height: 13px;
    background-image: url(../../img/arrow-down.png);
    position: absolute;
    margin-left: -18px;
    margin-top: 0px;
}

.panel-title a.collapsed:before{
    content: '';
    width: 13px;
    height: 13px;
    background-image: url(../../img/arrow-right.png);
    position: absolute;
    margin-left: -18px;
    margin-top: 0px;
}


.panel-title a, .panel-title a:not(.collapsed):hover{
    color: #000;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e8e8e8, 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.panel-title a.collapsed{
    color: #000;
    font-weight: 500;
}

.panel-group .panel.panel-default .panel-collapse .panel-body{
    border-top: 1px solid #dddddd;
}


.panel-group .panel{
    border: solid 1px #dddddd;
    border-radius: 0px;
}

.panel-title > a{
    font-size: 12px;
    font-weight: 300;
    /*color: #749db1;*/
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-heading .panel-title a:hover{
    color: #2D3539;
    background-image: none;
    background-color: #FFFFFF;
}

.panel.panel-default > .panel-heading:hover{

}

td.col1{
    padding: 0px 10px 12px 5px;
    width: 250px;
}

tr.row1{
    height: 60px;
}
 
/*
#infoArea {
  font-size: 13px;
  font-weight: bold;
  color: #444;
  left: 10px;
}
#infoArea.disabled{
  border: none;
  background: transparent;
}*/ 

.infoArea{
    float: left;
    background: none;
    border: none;
    box-shadow: none;
    padding-top: 27px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 14px;
    filter: none;
}

td.col2 .infoArea{
    color: #7c7c7c;
}

.ace_editor.ace-tm/*, #fileTreeAccordion*/{
    border: 1px solid #bfdce5;
    width: 100% !important;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-radius: 0px 0px 4px 4px;
}

ul.jqueryFileTree{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
}


.panel-body a.selectedFolder{
    background: #FFF;
    color: #00000 !important;    
}
 
.panel-body a.selectedFile{
    background: #666;
    color: #FFFFFF !important;
}

.panel-body a.selectedFolder:hover{
    
}

.panel-collapse .panel-body .urltargetfolderexplorer{
    overflow: auto;
}

.infoAreaWarnings{
    padding: 2px 10px 2px 10px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: red;
    width: 20px;
    width: 20px;
    display: inline-block;
}

.panel {
    margin-bottom: 5px;
}


a:hover, a:focus {
    text-decoration: none;
}

a:active, a:selected, a:visited { 
    border: none;
    outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}

.btnArea.chosen-container-single .chosen-single div b{
    background: none !important;
}

.btnArea .select2-container--default .select2-selection--single, 
.btnArea .select2-selection__rendered{
    border-radius: 0px;
}

.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below{
    border-radius: 0px;
}

.select2-results__options .select2-results__option {
  padding: 6px 0px 6px 10px;
}

.select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted{
    background-color: #005DA6;
}

.select2 .select2-selection.select2-selection--single{
    border: 1px solid #cbdde8;
    height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-left: -8px !important;
  margin-top: 1px !important;  
}


.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown{
	border: 1px solid #cbdde8 !important;	
}

.select2-selection__rendered{
    font-size: 14px;
}


input.select2-search__field{
    background: url('../../img/magnifier.svg') center right no-repeat;
}

.no-svg input.select2-search__field{
    background: url('../../img/magnifier.png') center right no-repeat;
}

input.select2-search__field:focus{
    outline: none;
}

.btnArea .select2-container--default .select2-selection--single .select2-selection__rendered,
span.select2-results li{
    color: #7c7c7c;
    padding-top: 1px;
}

.info-btn{
    padding-left: 25px;
    line-height: 26px; 
    white-space: nowrap;
    cursor: pointer;
    margin-top: 10px;
    color: #000000;
}


.info-btn:after{
    content: '';
    width: 0px;
}

.info-btn:hover:after{
    content: 'Keyboard Shortcuts';
    position: absolute;
    width: 120px;
    color: #333e49;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear;
    font-size: 11px;
    font-weight: 400;
    color: #7C7E80;
}

.info-btn, .ml-header-icon{
    width: 25px;
    height: 25px;
    background: url('../../img/info.png') left center no-repeat;
}

.saveBtn{
    float:right;
    margin-top: -40px;
}

div.dropdown{
    display:block;
    padding-bottom: 8px;
    padding-right: 165px;
}

.syntaxLabel span{
    font-size: 10px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #7C7E80;
    padding-left: 1px;
}

.ml-content table th, .ml-content table td, 
.popup-keys-label, .ml-confirm-dialog,
.ml-content{
    color: #7C7E80;
}

li.file > a,
li.directory > a{
    cursor: pointer;
    min-width: 100%;
}

.ml-modal code{
    background-color: #f7f6f7;
    color: #7C7E80;
}

.dialog-unsaved{
    display:none;
}

.refresh-provider {
   display: none;
   width: 12px;
   height: 12px;
   position: absolute;
   margin-left: 228px;
   margin-top: -22px;
   background: url('http://themes.lpd-themes.com/123shop/wp-content/themes/123shop_preview_1-0_new/lpd-switcher/assets/img/glyphicons_halflings_030_refresh.png') no-repeat;
}